<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">



    <!--suppress SpringXmlModelInspection -->
    <context:property-placeholder location="../my.proprieties"/>


    <bean id="block1" class="capitol1.XMLcodeConf.Piston">
    </bean>

    <bean id="world1"
          class="capitol1.XMLcodeConf.World"
          scope="singleton"
            init-method="init"
            destroy-method="destroy">
        <constructor-arg name="block" ref="block1"/>
        <property name="name" value="${world.name}"/>
        <property name="id" value="${world.id}"/>
    </bean>

</beans>